/* Reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}
/* Thứ tự
1 - vị trí
2 - kích thước
3 - màu sắc
4 - kiểu dáng(kiểu chữ tròn vuông ....)
*/

/* 
- Làm từ trên xuóng duối 
- Từ tổng quan đến chi tiết
*/

.clear {
    clear: both;
}

.text-white {
    color: white !important;
}

#main {

}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: black;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav,.subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 3);
}

#nav .subnav a {
    display: inherit;
    min-width: 60px;
    padding: 0 16px;
    line-height: 38px;
    color: black;
    
}

#nav > li > a {
    color: #FFFF;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 50px;
    padding: 0 24px;
    display: inline-block;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    color: black;
    background-color: #cccc;  
}

#header .search-btn {
    float: right;
    padding: 0px 22px;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .search-icon {
    color: #ffff;
    font-size: 20px;
    line-height: 50px;
}

/* CSS Slider */

#slider {
    /* margin-top: 50px; */
    position: relative;
    padding-top: 50%;
    /* Khi lên github sẽ như sau:*/
    background: url('/webband/assests/img/sliders/slider2.jpg') top center / cover no-repeat;
    /* Lúc bình thường: */
    background: url('/assests/img/sliders/slider2.jpg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    color: white;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 30px;
}

#slider .text-description {
    font-size: 15px;
}


#content {

}

#content .content-section {
    padding: 80px 120px;
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    color: black;
    margin: 10px 0 30px;
    text-align: center;
    letter-spacing: 6px;
}

#content .section-sub-heading {
    margin-bottom: 10px;
    text-align: center;
    font-size: 15px;
    font-style: italic;
    opacity: 0.9;
}

#content .about-text {
    font-size: 15px;
    text-align: center;
    line-height: 1.6;
    margin-bottom: 10px;
}

#content .members-list {
    margin-top: 50px;
    overflow: hidden;
}

#content .member-item {
    float: left;
    width: calc(100%/3);
    text-align: center;
}

#content .member-name {
    font-size: 15px;
}

#content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

/* Tour */

.tour-section {
    background-color: black;
}
.tickets-list {
    background-color: white;
    list-style-type: none;
    margin-top: 40px;
}

.tickets-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.tickets-list .sold-out {
    background-color: #f44336;
    color: white;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: black;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

/*  dang code csss phan nay */
/* Place */

.places-list {

}

.place-item {

}

.place-img {

}

.place-body {

}

.place-heading {

}

.place-time {

}

.place-buy-btn {

}


#footer {

}
